:root {
  font-family: Roboto, Aria, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-black: #0d0d0d;
  --color-green: #54ca25;
  --border-radius: 5px;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Styrene;
    src: url("assets/fonts/Roboto-Bold.ttf");
    font-weight: bold;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: #0d0d0d;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  height: 100vh;
}
