.container {
  border: 1px solid var(--color-green);
  border-radius: var(--border-radius);
  min-height: 5em;
  width: 250px;
  padding: .5em;
  background-color: var(--color-black);
  color: var(--color-green);
}

.meta {
  font-size: .8em;
  color: gray;
  display: flex;
  justify-content: end;
}

.text {
  font-weight: bold;
  font-size: 1.2em;
}
